<!doctype html>
<html>
<head>
<title>WHIB: Where Have I Been</title>
<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!--<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">-->
<link type="text/css" rel="stylesheet" href="css/WHIB.css">
</head>
<body>
    <header class="container">
      <div class="page-header">
        <h1>WHIB</h1>
        <p class="caption"><i>Where Have I Been</i>: something made for fun.</p>
      </div>
    </header>
    <div class="container">
	    <div id="gmap"></div>
	    <hr>
	    <footer>
            <p>I wanted to learn something new so one saturday morning I sat at my desk and thought of this simple application. It took me a while but at last I could make it.</p>
            <p>Frontend written in Coffeescript and LessCSS, it uses jQuery for everything, Bootstrap for coolness, Backbone for MVC, Backbone.Localstorage for persistence, RequireJS for modules and plugins loading, Google Maps API V3 guess for what.</p>
            <p>Backend runs over Heroku, NodeJS, Grunt for the build tasks, Bower for the assets, ExpressJS for the webserver, Hogan.js for the mustaches and Consolidate for serving the compiled HTML templates.</p>
            <p><b>2013, Michele Montagner</b></p>
        </footer>
	</div>
<script type="text/template" id="edit-mode-template">
    <div class="edit">
        <div class="form-group"><label for="description">Where?</label><input class="description form-control" type="text" name="description" value="<%= description %>" placeholder="What did you do there?"></div>
        <div class="form-group"><label for="time">When?</label><input class="time form-control" type="text" name="time" value="<%=time%>" placeholder="When did you get there?"></div>
        <div class="form-group clearfix"><div class="pull-left"><button class="save btn btn-success btn-xs" type="button">Save</button> <button class="undo btn btn-warning btn-xs" type="button">Undo</button></div> <button class="delete btn btn-danger btn-xs pull-right" type="button">Delete</button></div>
    </div>
</script>
<script type="text/template" id="create-mode-template">
    <div class="create">
        <div class="form-group"><label for="description">Where?</label><input class="description form-control" type="text" name="description" value="<%= description %>" placeholder="What did you do there?"></div>
        <div class="form-group"><label for="time">When?</label><input class="time form-control" type="text" name="time" value="<%= time %>" placeholder="When did you get there?"></div>
        <div class="form-group clearfix"><button class="save btn btn-success btn-xs pull-left" type="button">Save</button> <button class="delete btn btn-warning btn-xs pull-right" type="button">Nevermind</button></div>
    </div>
</script>
<script type="text/template" id="show-mode-template">
    <div class="show">
        <p class="description"><%= description %></p>
        <p class="time"><%= time %></p>
    </div>
</script>
<!-- BEST WAY I FOUND TO ADD GMAPS API KEY -->
<script>var require = {map: {'whib': {'gmaps' : 'async!https://maps.googleapis.com/maps/api/js?key={{GMAPS_KEY}}&sensor=false'}}};</script>
<script data-main="js/whib-app" src="bower_components/requirejs/require.js"></script>
</body>
</html>
